body {
    font-family: 'Uni Neue', sans-serif;
    background-color: #fdfdfd;
}

.container {
    padding: 0 27px 108px 28px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 51px 136px ;
}

.signup-box {
    display: flex;
    flex-direction: column;
}

.head-title {
    display: flex;
    flex-direction: column;
    gap: 12.52px;
}

.head-title h1 {
    font-size: 26.55px;
    font-weight: 700;
    line-height: 100%;
    color: #000000;

}

.head-title p {
    font-size: 15.99px;
    font-weight: 500;
    color: #4c4c4c;
}

.signup-btns {
    display: flex;
    flex-direction: column;
    gap: 19.26px;
    padding: 44px 0;
}

.signup-btns button {
    display: flex;
    width: 335px;
    height: 47.52px;
    align-items: center;
    justify-content: center;
    border: 0.96px solid #dfdfdf;
    border-radius: 8.8px;
    font-size: 15.99px;
    font-weight: 500;
    color: #494949;
    gap: 17.47px;
    padding: 0;
}

.divider {
    display: flex;
    align-items: center;
    gap: 9.12px;
    color: #777;
    font-size: 11.94px;
    font-weight: 500;
    margin-bottom: 26.1px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 33.64px;
}

.nameandemial, .passwords, .numberandrefer {
    display: flex;
    flex-direction: column;
    gap: 19.26px;
}

.nameandemial input {
    display: flex;
    width: 335px;
    height: 47.52px;
    border: none;
    border-radius: 8.8px;
    background-color: #F8F8F8;
    padding-left: 17.6px ;
    color: #8f8f8f;
}

.nameandemial label {
    font-size: 15.99px;
    font-weight: 500;
    color: #212121;
}

.passwords input {
    display: flex;
    width: 335px;
    height: 47.52px;
    border: none;
    border-radius: 8.8px;
    background-color: #F8F8F8;
    padding-left: 17.6px ;
    color: #8f8f8f;
}

.passwords label {
    font-size: 15.99px;
    font-weight: 500;
    color: #212121;
}

.numberandrefer input {
    display: flex;
    width: 335px;
    height: 47.52px;
    border: none;
    border-radius: 8.8px;
    background-color: #F8F8F8;
    padding-left: 17.6px ;
    color: #8f8f8f;
}

.numberandrefer label {
    font-size: 15.99px;
    font-weight: 500;
    color: #212121;
}


.numberandrefer span {
    font-size: 12.47px;
    color: #7e7e7e;
}

.agree-terms {
    display: flex;
    align-items: center;
    gap: 14.45px;
    font-size: 14.06px;
    font-weight: 500;
}
.agree-terms input,
#remember{
    width: 17.33px;
    height: 17.33px;
    border-radius: 3.85px;
    border: 0.96px solid #D7D7D7;
    background-color: #fdfdfd;
}
.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitactions-login {
    display: flex;
    justify-content: space-between;
}

#submit-btn {
    font-size: 18.88px;
    font-weight: 700;
    width: 335px;
    height: 67px;
    border: none;
    border-radius: 8.8px;
    padding: 8.8px 0;
    background-color: #EA6227;
    color: #fdfdfd;
    margin: 27.93px 0;
    position: relative;
}

.go-to-login {
    font-size: 18.88px;
    font-weight: 500;
}